@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stars.css */
.stars, .stars::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  background: transparent url('https://i.ibb.co/KjSChXD/star-bg.png') repeat;
  z-index: 0;
  animation: moveStars 100s linear infinite;
  opacity: 0.2;
}

.stars::after {
  transform: scale(1.5);
  opacity: 0.15;
}

@keyframes moveStars {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, -100px);
  }
}
