.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(white 1px, transparent 1px), radial-gradient(white 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  animation: twinkle 10s linear infinite;
  opacity: 0.08;
}

@keyframes twinkle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50px, -50px);
  }
}
